# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
*env/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment files and secrets
.env
# .env*



# local vector database
db